.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main container */

/* HomeScreen styles */
.container {
  position: absolute;
  width: 80%;
  height: 80%;
  min-width: 960px;
  min-height: 640px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  
  background-color: #f9f3f3;

  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.player-container {
  position: absolute;
  width: 24%;
  height: 100%;
  background-color: grey;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  position: absolute;
  left: 24.5%;
  width: 55.5%;
  height: 100%;
  background: white;
}

.chat-container {
  position: absolute;
  background-color: rgba(141, 156, 126, 0.2);
  height: 100%;
  width: 19.5%;
  right: 0;
}

/* GameLobbyScreen */
.tables-container {
  position: absolute;


  width: 50%;
  height: 50%;
  background-color: gray;

  display: flex;
  flex-wrap: wrap;

  padding: 5%;
  transform: translate(35%, 20%);
  overflow: scroll;

  justify-content: space-between;
}
