.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main container */

/* HomeScreen styles */
.container {
  position: absolute;
  width: 80%;
  height: 80%;
  min-width: 1400px;
  min-height: 800px;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 4%;
  background-color: #f9f3f3;

  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.player-container {
  position: absolute;
  width: 24%;
  height: 100%;
  background-color: grey;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prepareContainer {
  position: absolute;
  height: 9%;
  background-color: transparent;
  width: 80%;
  bottom: 8%;
  transform: translateY(-100%);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.game-container {
  position: absolute;
  left: 24.5%;
  width: 55.5%;
  height: 100%;
  background: white;
}

.chat-container {
  position: absolute;
  background-color: rgba(141, 156, 126, 0.2);
  height: 100%;
  width: 19.5%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.globalTimer {
  height: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* GameLobbyScreen */
.tables-container {
  position: absolute;

  width: 50%;
  height: 50%;
  background-color: grey;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 5%;
  transform: translate(17%, 20%);
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.info-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 80%;
  width: 20%;
  padding: 2%;
  background-color: lightgrey;

  top: 50%;
  transform: translate(0, -50%);
  right: 40px;

  display: flex;
  flex-direction: column;
}

.players-info {
  margin-top: 3%;
  height: 30%;
  width: 100%;
  background-color: rgb(194, 185, 185);
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
  overflow: scroll;


}

.lobby-button-groups {
  margin-top: 10%;
  width: 94%;
  height: 54%;
  padding: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 5%;
}